//  Pageviews Analysis tool
//  Copyright 2016 MusikAnimal

@import 'shared';
@import 'chart_view';

.page-selector {
  border-right: solid 1px $light-gray;

  .page-selector--container > div {
    margin-bottom: 10px;
  }
}

.summary-column {
  border-left: solid 1px $light-gray;
}

.remove-page {
  color: $link;
  cursor: pointer;
}

.data-links {
  margin-top: 15px;
}

.table-view {
  display: none;
}

.table .table-view--header th {
  vertical-align: top;
}

.table .output-list td {
  vertical-align: middle;
}

.table-view--color-col {
  padding-right: 0;
}

.table-view--color-block {
  display: block;
  height: 16px;
  width: 16px;
}
