//  Pageviews Analysis tool
//  Copyright 2016 MusikAnimal

@import 'shared';
@import 'chart_view';

main {
  border-left: solid 1px $gray;
  border-right: solid 1px $gray;
}

.page-selector {
  .page-selector--container > div {
    margin-bottom: 10px;
  }
}

.remove-page {
  color: $link;
  cursor: pointer;
}

.data-links {
  margin-top: 15px;
}
